{% extends "main/base.html" %}
{% load static %}

{% block title %}Профессия - Тестировщик{% endblock %}

{% block content %}
<h2>Описание профессии</h2>
<p>
    Тестировщик — это специалист, который отвечает за обеспечение качества программного обеспечения. Его основная задача — находить ошибки, баги и несоответствия в работе программного продукта и сообщать о них разработчикам для дальнейшего исправления. Работа тестировщика является важной частью процесса разработки, поскольку она позволяет создавать стабильные и надежные программные продукты.
</p>
<p>
    Тестировщики используют различные методы и инструменты для проверки программного обеспечения. Существует ручное и автоматизированное тестирование. В первом случае специалист вручную проверяет работу продукта, выполняя сценарии тестирования. Во втором случае используются специальные программы, которые автоматически выполняют тесты и сравнивают результаты с ожидаемыми. Автоматизированное тестирование особенно эффективно при проверке больших и сложных систем, где ручное тестирование требует значительных временных затрат.
</p>
<p>
    Основные задачи тестировщика включают разработку тест-кейсов (сценариев тестирования), выполнение тестов, анализ их результатов, составление отчетов о найденных проблемах и взаимодействие с командой разработчиков. Кроме того, тестировщик участвует в планировании тестирования и оценке рисков, связанных с выпуском продукта.
</p>
<div class="images">
    <img src="{% static 'img/tester1.jpg' %}" alt="Работа тестировщика">
    <img src="{% static 'img/tester2.jpg' %}" alt="Инструменты тестирования">
    <img src="{% static 'img/tester3.jpg' %}" alt="Команда тестировщиков">
    <img src="{% static 'img/tester4.jpg' %}" alt="Команда тестировщиков">

</div>
{% endblock %}
